# folders
.libs
bin
obj
.vscode
.github
node_modules
# files
bin.meta
obj.meta
node_modules.meta
# extension files
*.code-workspace
*.code-workspace.meta
*.sln
*.sln.meta
*.csproj
*.csproj.meta
*.ps1
*.ps1.meta